.img_tag {
   
    img {
        width: 144px;
        height: 118px;
    }
}
.carousel_wrapper{
    display: flex;
    justify-content: center;
}
.carousel_data_{
    // box-shadow: inset 0 0 10px #000000;
}