.img_tag {
   
    img {
        width: 144px;
        height: 118px;
    }
}
.wrapper_card{
    margin-top: 20px;
}
.to_res{
    padding: 0 10px;
    font-family: "Basis Grotesque Pro";
    font-size: 24px;
    font-weight: 800;
    line-height: 28px;
    letter-spacing: -0.4px;
    color: rgba(2, 6, 12, 0.92);
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    overflow-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.divider_{
    border-bottom: 1px solid rgb(240, 240, 245);
}
.carousel_wrapper{
    display: flex;
    justify-content: center;
}
.content_data{
    padding: 0 10px;
    font-family: "Basis Grotesque Pro";
    font-size: 24px;
    font-weight: 800;
    line-height: 28px;
    letter-spacing: -0.4px;
    color: rgba(2, 6, 12, 0.92);
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    overflow-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.react-multiple-carousel__arrow--right{
    position: absolute;
    top:34px;
    right:100px
}
.carousel_card_wrapper_tag{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
    width:100%;
    border-color: black;
    height:auto;
    margin-left: 0 !important;
    border-radius: 12px;
}

.card_wrapper_data{
padding: 22px 10px;
}
.image_div{
    width: 100%; 
    min-height: 300px;
    overflow: hidden;
    img {
        max-width: 100%; 
        max-height: 100%; 
        display: block; 
        margin: 0 auto;
        vertical-align: middle;
      }
}
.cardContentDiv {
    width: 92%;
    margin: -41px auto 0;
    // padding: 22px 0;
    // border: 1px solid #eaeaea;
    border-radius: 8px;
    position: relative;
    z-index: 0;
    background-color: #fff;
   
    .cardTitle {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #000;
        padding: 0 19px;
    }
    .cardContent {
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #000;
        padding: 25px 41px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-transform: capitalize;
    }
}
