.img_tag {
   
    img {
        width: 144px;
        height: 118px;
    }
}
.carousel_wrapper{
    display: flex;
    justify-content: center;
}


.react-multiple-carousel__arrow--right{
    position: absolute;
    top:34px;
    right:100px
}
.carousel_card_wrapper_tag{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
    width:100%;
    border-color: black;
    height:auto;
    margin-left: 0 !important;
    border-radius: 12px;
}

.card_wrapper_data{
padding: 10px;
}
.image_div{
    width: 100%; /* Set the desired width for the div */
    min-height: 300px; /* Set the desired height for the div */
    overflow: hidden; /* Hide overflow if necessary */
    img {
        max-width: 100%; /* Images won't exceed the width of the div */
        max-height: 100%; /* Images won't exceed the height of the div */
        display: block; /* Ensures the images don't have extra spacing beneath them */
        margin: 0 auto; /* Center horizontally */
        vertical-align: middle; /* Center vertically */
      }
}
.cardContentDiv {
    width: 92%;
    margin: -41px auto 0;
    padding: 22px 0;
    // border: 1px solid #eaeaea;
    border-radius: 8px;
    position: relative;
    z-index: 0;
    background-color: #fff;
   
    .cardTitle {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #000;
        padding: 0 19px;
    }
    .cardContent {
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #000;
        padding: 5px 19px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        text-transform: capitalize;
    }
}
