.conatiner_wrapper {
    background-color: rgb(53, 40, 15);
    // box-shadow: 0 1px 12px #2c6b34;
    position: sticky;
    top: 0;
    z-index: 100;
}



.main_class {
    .nav_div {
        display: flex;
        justify-content: space-around;
        padding: 10px 15px;
    }

    .first_div {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;

        .circle_div {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: turquoise;
            align-items: center;
            display: flex;
            justify-content: center;
        }
    }

    .third_div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        color: white;

        a {
            text-decoration: none;
        }
    }
}

.button_custom {
    border-radius: 10px;
    border: none;
    background-color: #3e8e41;
    padding: 8px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

.button_custom:hover {
    background-color: black;
}

.inputfield {
    padding: 10px;
    border-radius: 5px 0px 0px 5px;
    border: 2px solid rgb(238, 233, 233);
    border-right: 0;

}

.button_text {
    display: flex;
}

.button_custom_text {
    width: 100%;
    height: 48px;
    padding: 10px 30px 10px 30px;
   
    border-radius: 0px 5px 5px 0px;
    background-color: white;

    border: 2px solid rgb(238, 233, 233);
    border-left:0;
}

.inputfield:focus {
    border-right: 0;

    border: 2px solid white;
    outline: none;
}

.input_wrapper {
    position: relative;
}

.searchicon {
    position: absolute;
    top: 24px;
    right: 43%;
    width: 20px;


}