.shimmer_wrapper {
    position: relative;
    width: 90%;
    margin-bottom: 20px;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    position: relative;
    z-index: 0;

    background-color: #DCDCDC;

    height: 300px;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;

}



.shimmer_wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent 25%, rgba(255, 255, 255, 0.2) 50%, transparent 75%);
    background-size: 200% 100%;
    animation: shimmer 2s infinite;
}

@keyframes shimmer {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;
    }
}