.container_fluid {
    width: 100%;
    height: 300px;
    background: linear-gradient(0deg, rgb(201, 188, 244) 0%, rgb(255, 255, 255) 95.83%);
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    outline: none;
    overflow: hidden;

    .wrapper_container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .first_child {
            font-size: 48px;
            line-height: 48px;
            letter-spacing: -0.43px;
            -webkit-font-smoothing: antialiased;
            color: rgba(2, 6, 12, 0.75);
            font-weight: 800;
            width: 274px
        }

        .secchild {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 400px;
            height: auto;
            /* To center vertically as well */
        }

        .secchild img {
            max-width: 100%;
            height: auto;
        }
    }
}